<ul class="ms-List complexquestiondisplay"> 
    {{#each this}}
        <li class="ms-ListItem" tabindex="0">
            {{#each AllResponses}}
                {{name}}: {{value}}<br />
            {{/each}}
        </li>
    {{/each}}
</ul>
