<span class="ms-PanelDefaultExample ms-PanelExample helpIcon">
    <button class="ms-Button" style="background-color:white; border: none;" id="question-{{id}}-helpbutton">
        <span class="ms-Button-label"><i class="ms-Icon ms-Icon--Info ms-fontColor-blue"></i></span>
    </button>
    <div class="ms-Panel">
        <button class="ms-Panel-closeButton ms-PanelAction-close">
            <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
        </button>
        <div class="ms-Panel-contentInner">
            <p class="ms-Panel-headerText">{{title}}</p>
            <div class="ms-Panel-content">
                <span class="ms-font-m">{{helpText}}</span>
            </div>
        </div>
    </div>
</span>
